@import '../../../content/scss/bootstrap-prelude';

.comment {
  margin-bottom: 0.75rem;
}

.header {
  display: flex;
  align-items: baseline;

  > :not(:first-child) {
    margin-left: map-get($spacers, 2);
  }
}

.author {
  max-width: 24rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.collapse-toggle {
  padding: 0;
  font-weight: $font-weight-normal;
  font-size: $small-font-size;
  color: $secondary;
}

.body {
  white-space: pre-wrap;
  margin-top: 0.15rem;
  margin-bottom: 0.75rem;
}
