<!-- TODO Date formatting -->
<div class="mw-lg mx-auto">
  <h2 id="page-heading" data-cy="LederImportHeading">
    <span jhiTranslate="schattenbuchhaltungApp.ledger.entry.title">Ledger</span>
  </h2>

  <div *ngIf="entry">
    <jhi-ledger-entry-tags [ledgerEntryNo]="entry.no" [(tags)]="entry.tags"></jhi-ledger-entry-tags>
  </div>
  <hr />

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <ng-container *ngIf="entry">
    <dl class="row-md jh-entity-details dl-tabbed-2 mx-md-3">
      <dt class="dl-tab-1" jhiTranslate="global.field.no">No.</dt>
      <dd class="dl-tab-1">{{ entry.no }}</dd>
      <dt class="dl-tab-1">{{ 'global.field.costCenter' | translate }}&#160;1</dt>
      <dd class="dl-tab-1">{{ entry.costCenter1?.displayText }}</dd>
      <dt class="dl-tab-1">{{ 'global.field.costCenter' | translate }}&#160;2</dt>
      <dd class="dl-tab-1">{{ entry.costCenter2?.displayText }}</dd>
      <dt class="dl-tab-1">{{ 'global.field.costCenter' | translate }}&#160;2</dt>
      <dd class="dl-tab-1">{{ entry.costCenter3?.displayText }}</dd>
      <dt class="dl-tab-1" jhiTranslate="global.field.bookingDate">Booking date</dt>
      <dd class="dl-tab-1">{{ entry.bookingDate }}</dd>
      <dt class="dl-tab-1" jhiTranslate="global.field.description">Description</dt>
      <dd class="dl-tab-1">{{ entry.description }}</dd>
      <dt class="dl-tab-1" class="dl-tab-2" jhiTranslate="global.field.aNo">A-No.</dt>
      <dd class="dl-tab-2">{{ entry.aNo }}</dd>
      <dt class="dl-tab-2" jhiTranslate="global.field.division">Division</dt>
      <dd class="dl-tab-2">{{ entry.division?.displayText }}</dd>
      <dt class="dl-tab-2" jhiTranslate="global.field.costType">Cost type</dt>
      <dd class="dl-tab-2">{{ entry.costType?.displayText }}</dd>
      <dt class="dl-tab-2" jhiTranslate="global.field.income">Income</dt>
      <dd class="dl-tab-2">{{ entry.income }}</dd>
      <dt class="dl-tab-2" jhiTranslate="global.field.expenditure">Expenditure</dt>
      <dd class="dl-tab-2">{{ entry.expenditure }}</dd>
      <dt class="dl-tab-2" jhiTranslate="global.field.liability">Liability</dt>
      <dd class="dl-tab-2">{{ entry.liability }}</dd>
    </dl>

    <div class="mt-6">
      <h3>
        {{ entry.comments.length }}&#160;{{
          (entry.comments.length === 1 ? 'schattenbuchhaltungApp.ledger.entry.comment' : 'schattenbuchhaltungApp.ledger.entry.comments')
            | translate
        }}
      </h3>
      <hr />
      <div>
        <div class="form-group">
          <jhi-comment-form [type]="'create'" [ledgerEntryNo]="entry.no" (commentSaved)="commentCreated($event)"></jhi-comment-form>
        </div>
      </div>

      <div *ngFor="let comment of entry.comments; let i = index; trackBy: trackComment">
        <jhi-comment-entry
          [(comment)]="entry.comments[i]"
          [ledgerEntryNo]="entry.no"
          (commentDeleted)="commentDeleted($event)"
        ></jhi-comment-entry>
      </div>
    </div>
  </ng-container>
</div>
