@import 'bootstrap-prelude';
@import 'sizing';
@import 'typography';
@import 'tooltip';
@import 'fontawesome-extras';
@import 'loader';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

body {
  min-height: 100vh;
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

/* Increase contrast of links to get 100% on Lighthouse Accessability Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
a {
  // color: #533f03;
  font-weight: $font-weight-bold;

  // &:hover {
  //   color: #533f03;
  // }
}

a.link-u {
  text-decoration: underline;
}

/* override hover color for dropdown-item forced by bootstrap to all a:not([href]):not([tabindex]) elements in _reboot.scss */
a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

/* override .dropdown-item.active background-color on hover */
.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-active-bg, 50%);
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form):not(.ng-pristine.form-control-stealth) {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
  padding: 3rem;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 30rem;
    max-width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 75px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
  max-width: map-get($max-widths, xxl);
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

#page-heading {
  margin-bottom: 1rem;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

.row-md.dl-tabbed-2 {
  @media screen and (min-width: map-get($grid-breakpoints, lg)) {
    display: grid;
    grid-template-columns: repeat(2, auto 1fr);
    grid-auto-flow: dense;

    .dl-tab-1:nth-child(n) {
      grid-column: 1;
    }
    .dl-tab-1:nth-child(2n) {
      grid-column: 2;
    }
  }
}

.dropdown-toggle.dropdown-notoggle::after {
  display: none;
}

// Add a 1px border to all tags so we can have outlined badges without
// messing up the sizing.
@each $color, $value in $theme-colors {
  .badge-#{$color} {
    border: $border-width solid $value;
  }
}

.badge-outline-plain {
  color: $body-color;
  background-color: $body-bg;
  border: 1px solid $body-color;
  &:hover {
    color: $body-color;
    background-color: $body-bg;
  }
}

.toast-wrapper {
  position: sticky;
  top: 0;
  z-index: $zindex-fixed;
}

.toasts {
  position: absolute;
  top: map-get($spacers, 3);
  right: map-get($spacers, 3);

  .toast {
    width: $toast-max-width;
  }

  .toast .toast-header .close:not(:only-child) {
    margin-left: map-get($spacers, 2);
  }
}

.popover.popover-no-arrow .arrow {
  display: none;
}

.btn-link {
  outline: none !important;
  box-shadow: none !important;
}

.btn-xs {
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $btn-font-size-xs, $btn-line-height-xs, $btn-border-radius-xs);
}

.boder-transparent {
  border: 1px solid transparent;
}

.mr-icon {
  margin-right: 1ch;
}
